* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Abel' , sans-serif;
    height: 100%;
}

@keyframes lazyloading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 20px 100px;
    z-index: 100;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-image {
    width: 90px;
    height: 90px;
    animation: lazyloading 1s ;
}

.menus {
    display: flex;
    list-style: none;
}

.menus a {
    margin-right: 25px;
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

.underline::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    background: rgb(51, 51, 51);
    width: 0px;
    transition: width 0.4s;
}

.underline:hover::after, default::after  {
    width: 100%;
}

.introduction {
    margin-top: 170px;
    text-align: center;
}

.name {
    font-size: 100px;
    margin-bottom: 0;
}

.information {
    margin-top: 30px;
    font-size: 16px;
}

.categories {
    margin-top: 30px;
}

.categories__names {
    display: flex;
    justify-content: center;
    list-style: none;
}

.categories a{
    margin-right: 15px;
    text-transform: uppercase;
    color: #515151;
    text-decoration: none;
    position: relative;
}

.category:hover::after , .default::after{
    width: 100%;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
}

.image-block {
    height: 440px;
    width: 350px;
    margin: 2.5px;
    position: relative;
    display: none;
}

.image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show {
    display: block;
}
